.slider_wrapper {
	height: 100%;
	max-width: 1350px;
	padding: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

@media (max-width: 767px) {
	.slider_wrapper {
		padding: 50px 10px;
	}
}

/* Основные стили */

/* Слайдер */
.slick-slider {
	min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
	overflow: hidden;
}

/* Лента слайдов */
.slick-track {
	display: flex;
	align-items: flex-start;
}

/* Слайд */
.slick-slide {
}
/* Слайд активный */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}

/* Стрелка */
.slick-arrow {
}
/* Стрелка влево */
.slick-arrow.slick-prev {
}
/* Стрелка вправо */
.slick-arrow.slick-next {
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}

/* Точки */
.slick-dots {
}
.slick-dots li {
}
.slick-dots button {
}

/* Конкретный слайдер */
.slider {
	position: relative;
	padding: 0px 60px;
}

@media (max-width: 767px) {
	.slider {
		padding: 0px 40px;
	}
}

.slider .slick-arrow {
	position: absolute;
	top: 36%;
	margin: -30px 0px 0px 0px;
	z-index: 10;
	font-size: 0;
	width: 30px;
	height: 60px;
}

.popular_bounquet .slider .slick-arrow {
	top: 33%;
}

.slider_bottom .slider .slick-arrow {
	top: 42%;
}

.slider .slick-arrow.slick-prev {
	left: 0;
	background: url("../img/sl-arrow_l.svg") 0 0 / 100% no-repeat;
	cursor: pointer;
}

.slider .slick-arrow.slick-next {
	right: 0;
	background: url("../img/sl-arrow_r.svg") 0 0 / 100% no-repeat;
	cursor: pointer;
}

.slider .slick-arrow.slick-disabled {
	opacity: 0.2;
}

.slider .slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}

.slider .slick-dots li {
	list-style: none;
	margin: 0px 10px;
}

.slider .slick-dots button {
	font-size: 0;
	width: 29px;
	height: 6px;
	background-color: #445340;
	cursor: pointer;`
}

.slider .slick-dots li.slick-active button {
	background-color: transparent;
	border: 1px solid #445340;
}

.slider__item {
	padding: 0px 15px;
}

.slider__item img {
	max-width: 100%;
}

.slider__item.slick-center {
}

.slider__item > h4 > a {
	display: block;
	font: 600 15px/18px "Montserrat", sans-serif;
	text-align: center;
	margin: 20px 0px 12px 0;
	color: #222720;
}

.slider__item > h3 > a {
	display: block;
	font: 800 24px/29px "Montserrat", sans-serif;
	color: #445340;
	text-align: center;
	margin-bottom: 14px;
}
